<!DOCTYPE html>
<html lang="en" ng-app="studentApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body ng-controller="studentController">

    <h2>Student Registration</h2>

    <form name="studentForm" ng-submit="submitForm()">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" ng-model="student.firstName" required ng-pattern="/^[a-zA-Z]+$/">
        <span class="error" ng-show="studentForm.firstName.$dirty && studentForm.firstName.$invalid">
            <span ng-show="studentForm.firstName.$error.required">First name is required.</span>
            <span ng-show="studentForm.firstName.$error.pattern">First name should only contain alphabets.</span>
        </span>
        <br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" ng-model="student.lastName" required ng-pattern="/^[a-zA-Z]+$/">
        <span class="error" ng-show="studentForm.lastName.$dirty && studentForm.lastName.$invalid">
            <span ng-show="studentForm.lastName.$error.required">Last name is required.</span>
            <span ng-show="studentForm.lastName.$error.pattern">Last name should only contain alphabets.</span>
        </span>
        <br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" ng-model="student.age" required min="18" max="50">
        <span class="error" ng-show="studentForm.age.$dirty && studentForm.age.$invalid">
            <span ng-show="studentForm.age.$error.required">Age is required.</span>
            <span ng-show="studentForm.age.$error.min || studentForm.age.$error.max">Age should be between 18 and 50.</span>
        </span>
        <br><br>

        <button type="submit" ng-disabled="studentForm.$invalid">Register</button>
    </form>

    <div ng-show="greetingMessage">
        {{ greetingMessage }}
    </div>

    <script>
        var app = angular.module('studentApp', []);

        app.controller('studentController', function($scope, $http, $timeout) {
            $scope.student = {};
            $scope.greetingMessage = '';

            // Greeting based on time
            function updateGreeting() {
                var now = new Date();
                var hour = now.getHours();

                if (hour < 12) {
                    $scope.greetingMessage = 'Good Morning!';
                } else if (hour < 18) {
                    $scope.greetingMessage = 'Good Afternoon!';
                } else {
                    $scope.greetingMessage = 'Good Evening!';
                }
            }

            updateGreeting(); // initial greeting
            $timeout(updateGreeting, 60000); //update every minute.

            $scope.submitForm = function() {
                // Here you would typically send the data to a server using $http
                $http({
                    method: 'POST',
                    url: '/register', // Replace with your server endpoint
                    data: $scope.student
                }).then(function successCallback(response) {
                    console.log('Registration successful:', response.data);
                    alert("Registration Successful!");
                    $scope.student = {}; // clear form.
                    $scope.studentForm.$setPristine();
                    $scope.studentForm.$setUntouched();
                }, function errorCallback(response) {
                    console.error('Registration successfully :', response.data);
                    alert("Registration successfully ");
                });
            };
        });
    </script>
</body>
</html>